/* h e a d e r */

header{
    background-color: var(--color-amarillo);
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.logo{ 
    width: 150px;
    margin-left: 2em;
}

.compra-cuotas{
    text-align: center;
}

.busqueda{
    padding-left: 1em;
}

.searchBar{
    width: 60%;
    padding-left: 1em;
}

.enlaces{
    display: none;
}

.burger-menu{
    text-align: center;
    color: white;
    background-color: var(--color-celeste);
    width: 35px;
    height: 35px;
    margin-left: 50%;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* m a i n */
main {
    background-color: var(--color-gris-claro);
    width: 90%;
    margin: auto;
}

/* b a n n e r */

section img {
    width: 100%
}


/* a r t i c u l o s */
main section h3 .titulo-ofertas{
    padding: 20px 20px;
}

main section article img {
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

main section article {
    background-color: white;
    margin: 10px 20px 40px 20px;
    border-top: solid var(--color-gris-claro) 1px;
}

main section article .detalle {
    padding: 15px;
    border-top: solid var(--color-gris-claro);
}

.detalle i{
    text-align: center;
    border: solid var(--color-verde) 1px;
    border-radius: 100%;
    padding: 15px;
}

.fa-truck{
    color: var(--color-verde);
}


main section .ult-visita{
    font-size: 24px;

}

article .precio{
    font-size: 18px;

}

article .descuento{
    color: var(--color-verde);
    font-size: 16px;

}

article .titulo-producto{
    font-size: 16px;
    padding-top: 10px;
    text-align: left;
    display: none;
}

section .ofertas{
    font-size: 24px;

}


/* f o o t e r */
footer{
    background-color: white;

}

footer p, footer h4{
    color: var(--color-gris-oscuro);
}

footer .info-footer{
    text-align: center;
}

footer .fa-credit-card{
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px
}

footer .fa-gift{
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px
}

footer .fa-user-shield{
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px
}

footer .copyright{
    font-size: 12px;
}


/* r e s p o n s i v e */


/* t a b l e t */
@media (min-width:361px) {
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .enlaces {
        display: inline;
    }

    article .titulo-producto{
        display: block;
    }

    .burger-menu{
        display: none;
    }
}


/* d e s k t o p */
@media (min-width:769px) {
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .enlaces {
        display: inline;
    }

    article .titulo-producto{
        display: block;
    }

    .burger-menu{
        display: none;
    }
}